<!DOCTYPE html>
<html>
<head>
    <title>College Website - Login</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
    <h1>College Website - Login</h1>
    <form action="/login" method="POST">
        <div class="form-field">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-field">
            <button type="submit">Login</button>
            <br>
            <h4>If You Not Have Any Account. Please <a href="/register">Register Now</a> !</h4>
        </div>
    </form>
</body>
</html>
