<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Details</title>
  <link rel="stylesheet" href="/std_form2.css">
</head>
<body>
  <div class="nav-links">
            <ul>
                <li align="left"><a href="/student-form">Back</a></li>
                <li><a href="/" onclick="showSection('home')">Home</a></li>
                <li><a href="#about" onclick="showSection('about')">About</a></li>
                <li><a href="/course-form" onclick="showSection('course-form')">Courses</a></li>
                <li><a href="/student-form" onclick="showSection('blog')">Students</a></li>
                <li><a href="/contact" onclick="showSection('contact')">Contact</a></li>
            </ul>
        </div>
  <h2>Student Details</h2>
  {{#if students.length}}
    <ul>
      {{#each students}}
      <li>
        <strong>Name:</strong> {{name}}<br>
        <strong>Age:</strong> {{age}}<br>
        <strong>Grade:</strong> {{grade}}
      </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No students found.</p>
  {{/if}}
</body>
</html>
